@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$large-screen: 1200px;
$small-screen: 576px;
$main-background: #eee;
$main-blue: hsl(228, 93%, 65%);
$hover-blue: hsl(228, 100%, 59%);
$main-gray: #b8b8b8;
$main-red: rgb(250, 44, 44);

* {
  margin: 0;
  padding: 0;

  font-family: 'Montserrat', sans-serif;

  box-sizing: border-box;
}

html {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  background-color: $main-background;
}

.App {
  margin-bottom: 3rem;
}

.navbar {
  display: flex;
  height: 78px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

nav {
  height: 78px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: $main-gray;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  position: fixed;
  top: 0;
  z-index: 1;

  @media (max-width: $small-screen) {
    gap: 1rem;
  }
}

.nav-logo {
  margin-left: 3rem;
  h1 {
    font-family: 'Tilt Neon', cursive, sans-serif;
  }
  @media (max-width: $small-screen) {
    margin-left: 8rem;
  }
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  @media (max-width: $small-screen) {
    padding-right: 5rem;
    gap: 1rem;
  }

  .links {
    display: flex;
    gap: 3rem;

    @media (max-width: $small-screen) {
      flex-direction: column;
      gap: 0.3rem;
    }
  }
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
  font-weight: 500;

  &:hover {
    color: grey;
  }

  @media (max-width: $small-screen) {
    font-size: 1.4rem;
  }
}

.cart-button {
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.3rem;
  border-radius: 50%;
  background-color: white;
  border: 3px solid black;
  position: relative;
  margin-right: 3rem;

  &:hover {
    cursor: pointer;
    border-color: rgb(0, 180, 0);
    background-color: rgb(187, 255, 187);
  }
}

.cart-items-number {
  border-radius: 50%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(25%, 25%);
  font-size: 1rem;
  font-weight: bold;
}

.title {
  font-size: 3rem;
  font-weight: 400;

  &:hover {
    color: black;
  }

  span {
    font-size: 3rem;
    font-weight: 900;
    color: $main-red;

    text-decoration: overline;
  }
}

.shop-items-grid {
  min-height: 100%;
  padding-top: 3rem;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding-bottom: 3rem;

  @media (max-width: $large-screen) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $small-screen) {
    grid-template-columns: 1fr;
  }
}

.item-card {
  overflow: hidden;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0;
  min-height: 100%;

  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  .item-card-image {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    vertical-align: middle;
    width: 100%;
    img {
      height: 250px;
      width: 400px;
    }
  }

  .item-card-body {
    display: flex;
    flex-direction: column;

    .item-card-body-upper {
      padding: 1rem 1rem 0 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .item-card-body-lower {
      width: 100%;
      padding: 1rem;

      .add-button {
        width: 100%;
        background-color: $main-blue;
        color: black;
        border: none;
        padding: 0.5rem;
        border-radius: 5px;
        font-size: 1.5rem;

        &:hover {
          background-color: $hover-blue;
          cursor: pointer;
        }
      }

      .item-card-body-lower-alternative {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        button {
          color: black;
          padding: 0.5rem 1rem;
          font-size: 1.5rem;
          background-color: $main-blue;
          border: none;
          border-radius: 5px;

          &:hover {
            background-color: $hover-blue;
            cursor: pointer;
          }
        }

        div {
          width: 6.5rem;
          font-size: 1.7rem;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.35rem;
          span {
            font-size: 1.2rem;
            color: $main-gray;
          }
        }
      }
    }
  }
}

.cart-view-background {
  position: fixed;
  top: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(18, 18, 18, 0.442);

  animation: background-slide-enter 0.4s linear 1;
  z-index: 1;
}

.shopping-cart-container {
  position: fixed;
  min-height: 300px;
  background-color: white;
  // left: 75%;
  min-width: 500px;
  right: 0;
  z-index: -1;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 3rem;
  animation: cart-slide-enter 0.4s linear 1;

  @media (max-width: $small-screen) {
    min-width: 100%;
    height: auto;
    right: 0;
  }

  .cart-header {
    padding: 1rem 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      font-size: 2rem;
      color: black;
    }

    button {
      border: none;
      padding: 0.7rem;
      border-radius: 10px;
      font-size: 1.3rem;
      color: black;
      background-color: white;

      &:hover {
        cursor: pointer;
        color: $main-gray;
      }
    }
  }

  .cart-body {
    padding: 0 2rem 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }

  .cart-total {
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
  }
}

.cart-item-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  font-size: 0.7em;

  img {
    width: 125px;
    height: 75px;
  }

  .cart-item-info {
    justify-self: flex-end;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .cart-item-info-left {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3 {
        color: $main-gray;
      }
      span {
        font-size: 0.7em;
        color: $main-gray;
      }
    }

    .cart-item-info-right {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 1rem;
    }

    button {
      border: 1px solid $main-red;
      border-radius: 5px;
      padding: 0.5rem 0.7rem;
      color: $main-red;
      background-color: white;
      &:hover {
        cursor: pointer;
        background-color: rgb(255, 87, 87);
        color: white;
      }
    }
  }
}

@keyframes cart-slide-enter {
  0% {
    opacity: 0;
    transform: translate(100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes background-slide-enter {
  0% {
    opacity: 0;
    transform: translate(100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.home-main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  background-image: url('../public/images/home-background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  max-width: 100%;
  min-height: calc(100vh - 78px);
  padding-bottom: 3rem;

  display: flex;
  .home-main {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10rem;
    padding-top: 3rem;

    .home-text-section {
      width: 75%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      gap: 1rem;

      .initial {
        color: grey;
        font-size: 1.9rem;

        @media (max-width: $small-screen) {
          font-size: 1.6rem;
        }
      }

      .home-info {
        width: 50%;
        font-size: 2rem;
        line-height: 50px;

        @media (max-width: $small-screen) {
          width: 100%;
        }

        span:first-of-type {
          font-weight: bold;
          color: $main-blue;
        }

        span:last-of-type {
          font-weight: bold;
          color: $main-red;
        }
      }
      .home-shop-button {
        border: none;
        justify-self: center;
        align-self: center;
        background-color: $main-blue;
        color: black;
        padding: 1rem 1.5rem;
        border-radius: 8px;
        font-size: 1.5rem;
        cursor: pointer;

        &:hover {
          background-color: $hover-blue;
        }
      }
    }
  }
}

.about {
  min-width: 100%;
  min-height: calc(100vh - 78px);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: url('../public/images/home-background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  @media (max-width: $small-screen) {
    padding: 1rem;
  }

  .about-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    background-color: rgba(141, 141, 141, 0.136);
    padding: 3rem;
    border-radius: 8px;

    @media (max-width: $small-screen) {
      width: 100%;
      padding: 2rem;
      gap: 2rem;
    }

    .about-about,
    .about-images {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      h2 {
        font-size: 1.8rem;
      }
    }
  }
}
