@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Tilt Neon', cursive, sans-serif;
}

body {
  background-color: #eee;
}

.App {
  margin-bottom: 3rem;
}

.navbar {
  display: flex;
  height: 78px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(175, 175, 175);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  
}

nav {
  
  height: 78px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(175, 175, 175);
  background-color: white;
  // box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.nav-logo {
  margin-left: 3rem;
}

.nav-links {
  margin-right: 3rem;
  display: flex;
  gap: 3rem;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;

  &:hover {
    color: grey;
  }
}

.cart-button {
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: white;
  border: 1px solid black;
  position: relative;
  margin-right: 3rem;
}

.cart-items {
  border-radius: 50%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(25%, 25%);
  font-size: 1rem;
  font-weight: bold;
}